<p> Your favorite continent is <%= current_user.continent.capitalize %> </p>
<p> Your favorite country is <%= current_user.country.capitalize %> </p>

<h3> Continents </h3>
<ol>
	<li> North America </li>
	<li> South America </li>
	<li> Asia </li>
	<li> Europe </li>
	<li> Africa </li>
	<li> Antarctica </li>
	<li> Australia </li>
</ol>
