
<h3> Continents </h3>
<p> Click on a continent you want to learn more about. Once its clicked on, you can add a bucket list of the countries you want to visit. </p>

<ol>
	<li><a href="continents/north_america"> North America</a></li>
	<li><a href="continents/south_america"> South America</a></li>
	<li><a href="continents/asia"> Asia</a></li>
	<li><a href="continents/europe"> Europe</a></li>
	<li><a href="continents/africa"> Africa</a></li>
	<li><a href="continents/antartica"> Antartica</a></li>
	<li><a href="continents/australia"> Australia</a></li>
</ol>